<div class="app-login-form-container">
  <mat-card>
    <mat-toolbar color=primary>
      Login
    </mat-toolbar>
    <form (submit)=submit()>
      <mat-form-field>
        <input matInput [(ngModel)]='username' placeholder="username" required [ngModelOptions]="{standalone: true}" />
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput [(ngModel)]='password' placeholder="password" type="password" required [ngModelOptions]="{standalone: true}" />
      </mat-form-field>
      <br/>
      <mat-error *ngIf=loginFailed>
        Incorrect username or password!
      </mat-error>
      <br/>
      <button type="submit" mat-button color='accent'>
        Submit
      </button>
    </form>
  </mat-card>
</div>