<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav 
        position="end"
        class="app-sidenav mat-elevation-z20"
        [opened]="isWide()" 
        [mode]="isWide() ? 'side' : 'over'">
      <mat-toolbar color='primary'>
        Filter
      </mat-toolbar>
      <mat-list role="list">
          <mat-list-item role="listitem">Filter stuff goes here</mat-list-item>
        </mat-list>
        <mat-toolbar color='primary'>
            Sort
        </mat-toolbar>
        <mat-list role="list">
            <mat-list-item role="listitem">Sort stuff goes here</mat-list-item>
        </mat-list>
    </mat-sidenav>
    

    <div class="app-sidenav-content">
        <app-header (toggleSideMenu)='sidenav.toggle()'></app-header>
        <mat-card>
            <app-blog-list></app-blog-list>
        </mat-card>
    </div>
</mat-sidenav-container>