<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav position="end" class="app-sidenav mat-elevation-z20" opened='false' [mode]="isWide() ? 'side' : 'over'">
        <mat-toolbar color='primary'>
            Filter
        </mat-toolbar>
        
            <mat-form-field>
                <input matInput (keyup)="filterVal = $event.target.value" placeholder="Filter">
            </mat-form-field>
        
    </mat-sidenav>


    <div class="app-sidenav-content">
        <app-header (toggleSideMenu)='sidenav.toggle()'></app-header>

        <mat-card>
            <div class="app-table-header" *ngIf='isWide()'>
                <mat-form-field>
                    <input matInput (keyup)="filterVal=$event.target.value" placeholder="Filter">
                </mat-form-field>
            </div>
            <app-blog-list [filter]='filterVal'></app-blog-list>
        </mat-card>
    </div>
</mat-sidenav-container>