$iconWidth: 56px;

.sidenav-menu-icon {
    float: right;
    display: none;

    padding: 0;
    margin: 6px;
    max-width: $iconWidth;
    min-width: $iconWidth;

    @media (max-width: 720px) {
        display: flex;
    }

    .mat-icon{
        font-size: 30px;
        height: $iconWidth;
        width: $iconWidth;
        line-height: $iconWidth;        
    }
}

.header-content{
    min-width: 100%;
}